
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<app-menu *ngIf="!isLogged"></app-menu>
<app-menu-logged *ngIf="isLogged"></app-menu-logged>

<h2 style="text-align: center;"> Dai vita a un progetto creativo. </h2>

<body> 
    <div class="grid-container">
        <div style="color: orange;"> Progetti attivi </div>
        <div style="color: orange;"> Utenti attivi </div>
        <div style="color: orange;"> Investimenti </div>
        <div style="color: orange;"> Euro raccolti </div>
    </div>
</body>


<h4> 
    <div class="grid-container">
        <div style="color: black;" > {{project}} </div>
        <div style="color: black;"> {{users}} </div>
        <div style="color: black;"> {{investment}} </div>
        <div style="color: black;"> {{eur}}€ </div>
    </div>
</h4>
