@font-face {
    font-family: font;
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
}

h2{
    margin-top: 1.5%;
    font-size: 30px;
    font-family: font;
}

div{ 
    font-size: 22px;
    text-align: center;
    font-family: font;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    margin: 0;
}

h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0vh;
    margin: 0;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 190px); /* Cambia il numero di colonne e la larghezza desiderata */
    gap: 5px; /* Aggiunge uno spazio tra le colonne */
}