<!-- stepper-form.component.html -->
<mat-stepper linear #stepper>
  <!-- Step 1 -->
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
  

      <mat-form-field>
        <mat-label>Importo</mat-label>
        <input matInput type="number" min="1" formControlName="donationAmount" required>
      </mat-form-field>
      <br> <br> <br> <br>
        
        <mat-label> Metodo di pagamento </mat-label>

        <mat-radio-group formControlName="paymentMethod" [style.padding.px]="30">
          <mat-radio-button value="iban">IBAN</mat-radio-button>
          <mat-radio-button value="paypal">PayPal</mat-radio-button>
        </mat-radio-group>
      
        <!-- Campi aggiuntivi per IBAN -->
        <div *ngIf="selectedPaymentMethod === 'iban'">
          <br>
          <mat-form-field>
            <mat-label>Codice IBAN</mat-label>
            <input matInput type="text" formControlName="ibanCode" >
          </mat-form-field>
      
        </div>
      
        <!-- Campi aggiuntivi per PayPal -->
        <div *ngIf="selectedPaymentMethod === 'paypal'">
          <br>
          <mat-form-field>
            <mat-label>Email PayPal</mat-label>
            <input matInput formControlName="paypalEmail" >
          </mat-form-field>
        </div>
      </form>
      <br> <hr>
      <button mat-button routerLink="/showcase">Torna alla bacheca</button>
      <button mat-button matStepperNext>Prosegui</button>

  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Dona al progetto</ng-template>
    <p>Sei sicuro di voler donare?</p>
    <div>
      <button mat-button (click)="submit()">Si</button>
      <button mat-button matStepperPrevious>No</button>
    </div>
  </mat-step>

  
</mat-stepper>
