<app-menu *ngIf="!isLogged"></app-menu>
<app-menu-logged *ngIf="isLogged"></app-menu-logged>

<body>
    <div class="projects" *ngFor="let project of projects">
        <h2>{{ project.title }}</h2>
        <p *ngIf="project.description">{{ project.description }}</p>
        <p *ngIf="project.category"><strong>Categoria:</strong> {{ project.category }}</p>
    
        <img class="project-image" width="320" height="320" [src]="project.image" [style.padding.px]="15" *ngIf="project.image">
    
        <video width="320" height="240" controls [style.padding.px]="15" *ngIf="project.video">
            <source [src]="project.video" type="video/mp4">
        </video>
    
        <p *ngIf="project.members && project.members.length > 0"><strong>Membri:</strong>
            <ng-container *ngFor="let member of project.members; let last = last">
                {{ member }}
                <span *ngIf="!last"> - </span>
            </ng-container>
        </p>
    
        <p *ngIf="project.amountToReach"><strong>Cifra da raggiungere:</strong> {{ project.amountToReach }} €</p>
        <p *ngIf="project.amountReached"><strong>Cifra raggiunta:</strong> {{ project.amountReached }} €</p>
    
        <p *ngIf="project.startDate"><strong>Data di inizio:</strong> {{ project.startDate | date:'dd/MM/yyyy' }}</p>
        <p *ngIf="project.endDate"><strong>Data fine:</strong> {{ project.endDate | date:'dd/MM/yyyy' }}</p>
    
        <hr class="line">
    
        <button mat-raised-button class="btnFinance" (click)="requestPermitFinanziatore(project.title)">Finanzia</button>
        <button mat-raised-button class="btnRemove" (click)="requestPermitAdmin(project.title)">Rimuovi</button>
    </div>
</body>