/* Aggiungi questo stile al tuo file CSS */

.projects {
    margin: 20px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .projects h3 {
    color: #333;
  }
  
  .projects p {
    color: #666;
  }
  
  .projects img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
  }
  
  .projects button {
    margin-top: 10px;
  }

  .projects .btnRemove{
    background-color: orange;
    margin: 10px;
  }

  .projects .btnFinance{
    background-color: #03a5fc;
    justify-items: auto;
    margin: 10px;
  }
  
.projects-img {
  margin-left: 10px;
}
  