<app-menu *ngIf="!isLogged"></app-menu>
<app-menu-logged *ngIf="isLogged"></app-menu-logged>

<body>
    <h2>1. Invia la tua candidatura</h2>
    <p>Compila il form di candidatura per la campagna di crowdfunding della tua azienda sul nostro portale.</p>

    <h2>2. Attendi la valutazione di CFM</h2>
    <p>Il nostro team di esperti esaminerà il tuo progetto attraverso un processo di selezione e basandosi su un track record di successo.</p>

    <h2>3. Prepara la campagna</h2>
    <p>Dopo la fase di selezione, inizia la fase di onboarding che include le attività burocratiche la preparazione dei contenuti e la stesura del piano marketing.</p>

    <h2>4. Pubblica la campagna</h2>
    <p>Dopo aver completato le attività di preparazione della campagna, il tuo progetto sarà pubblicato sul sito di CrowdFundMe e aperto a tutti per gli investimenti. La campagna durerà fino a 60 giorni, durante i quali riceverà massima visibilità grazie a attività di marketing mirate.</p>

    <h2>5. Raggiungi il 100%</h2>
    <p>Una volta raggiunto l'obiettivo minimo, la campagna può rimanere aperta in overfunding per accogliere ulteriori capitali fino al raggiungimento dell'obiettivo massimo. Al termine del round, FundAstic supporterà la tua società fornendole la documentazione necessaria.</p>

    <h2>6. Ricevi i fondi</h2>
    <p>Una volta raggiunto l'obiettivo massimo, la tua società riceverà i fondi e sarà libera di investirli per sviluppare e potenziare il proprio business.</p>
</body>
