h2 {
    color: orange;
    border-bottom: 2px solid orange;
    padding-bottom: 5px;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    margin: 30px;
    font-size: 15.5px;
}
