<app-menu *ngIf="!isLogged"></app-menu>
<app-menu-logged *ngIf="isLogged"></app-menu-logged>

<body>
    <h2> 1. Invia la tua candidatura</h2>
    <p>Compila il form di candidatura della tua azienda per una campagna di equity crowdfunding sul nostro portale.</p>

    <h2> 2. Attendi la valutazione di CFM</h2>
    <p>Il nostro team di esperti valuterà il tuo progetto attraverso un processo di selezione e un track record di successo.</p>

    <h2>3. Prepara la campagna</h2>
    <p>Passata la fase di selezione, partirà la fase di onboarding che include le attività burocratiche (es. delibera aumento di capitale, apertura del conto corrente vincolato, ecc.), la preparazione dei contenuti e la stesura del piano marketing.</p>

    <h2>4. Pubblica la campagna</h2>
    <p>Ultimate le attività di preparazione della campagna, il progetto verrà pubblicato sul sito di CrowdFundMe e aperto a tutti per investimenti. Una campagna dura fino a 60 giorni, durante i quali le verrà data massima visibilità attraverso attività di marketing mirate.</p>

    <h2>5. Raggiungi il 100%</h2>
    <p>Raggiunto l'obiettivo minimo, la campagna può rimanere aperta in overfunding per accogliere ulteriori capitali fino al raggiungimento dell'obiettivo massimo. Al termine del round CFM supporterà la società fornendole la documentazione necessaria.</p>

    <h2>6. Ricevi i fondi</h2>
    <p>Una volta raggiunto l'obiettna volta raggiunto livo massimo'obiettivo, CFM, la società si occ riceveràuperà della i fondi tr e sarà libera di investirattativa trali per svil l'uppare ilinvest proprio business.</p>
</body>