*{
    margin-top: -1.5%;
}
.btnContact{
    margin-left: 4%;
}
.btnPublish{
    margin-left: 4%;
}

.btnContact:hover, .btnNormal:hover, .btnPublish:hover{
    background-color: #03a5fc;
}

.btnLogout{
    margin-left: 25%;
}
.btnLogout:hover, .btnReg{
    background-color: orange;

}

img {
    margin-left: 4%;
    margin-top: 1%;
}

hr{
    margin-top: 0.2%;
}


@keyframes grow {
    0% {
      transform: scale(1);
   }
    50% {
      transform: scale(1.050);
   }
    100% {
      transform: scale(1);
   }
  }
  
*{
   transition: 0.4s;
  
   &:hover {
      animation: grow 0.8s infinite;
   }
  }
