

<img routerLink="" src="assets/FundAstic.png" width="11.2%" height="4.4%">

<button type="submit" mat-button class="btnNormal" (click)="requestPermitPublisher()"> &nbsp;&nbsp; Pubblica &nbsp;&nbsp;</button>
<button mat-button class="btnNormal" routerLink="/how-works"> &nbsp;&nbsp; Come funziona &nbsp;&nbsp;</button>
<button mat-button class="btnNormal" routerLink="/showcase"> &nbsp;&nbsp; Bacheca &nbsp;&nbsp;</button>
<button mat-button class="btnLogout" routerLink="" (click)="doLogout()"> &nbsp;&nbsp; Logout &nbsp;&nbsp; </button>
<hr>

<!-- <button type="submit" mat-button class="btnContact" (click)="requestPermitFinanziatore()"> &nbsp;&nbsp; Investi &nbsp;&nbsp; </button> -->
