:host {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.button {
  display: flex;
  justify-content: space-between;
}

.button .login-button {
  margin-right: 10px;
  border-radius: 7px;
}

.button .register-button {
  margin-left: 10px;
  border-radius: 7px;
}

.button .register-button:hover{
  background-color: #03a5fc;
}

.button .login-button:hover{
  background-color: orange;
}

.logo {
  cursor: pointer;
}
