<!-- <img src="assets/Logo.png"  width="20%" height="15%"> -->
<button mat-button class="btnContact" routerLink="contact"> &nbsp;&nbsp; Investi &nbsp;&nbsp; </button>
<button mat-button class="btnNormal"  routerLink="about"> &nbsp;&nbsp; Pubblica &nbsp;&nbsp;</button>
<button mat-button class="btnNormal" routerLink="/how-works"> &nbsp;&nbsp; Come funziona &nbsp;&nbsp;</button>
<button mat-button class="btnNormal" routerLink="about"> &nbsp;&nbsp; Bacheca &nbsp;&nbsp;</button>
<button mat-button class="btnLogin" routerLink="/login"> &nbsp;&nbsp; Login &nbsp;&nbsp; </button>
<button mat-button class="btnReg" routerLink="/register"> &nbsp;&nbsp; Registrati &nbsp;&nbsp;</button>
